.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.logo-img {
  width: 32px;
  height: 32px;
}
.logo-img-white {
  width: 120px;
  height: 30px;
  margin-left: 10px;
}
aside {
  height: 100vh;
}
